<div class="pp-component pp-switch-component" ng-if="visible" tcl="switch">
    <div ng-class="{ \'inverse\': definition.inverse }" class="label" ng-if="definition.context !== \'header\' && label" ng-disabled="readOnly">
        <div class="title" title="{{label}}">{{label}}</div>
        <div class="value" title="{{getDescription(value)}}">{{getDescription(value)}}</div>
    </div>

    <div ng-class="{ \'inverse\': definition.inverse }" class="label" ng-if="definition.context === \'header\'" ng-disabled="readOnly">
        <div class="title" ng-if="label" title="{{label}}">{{label}}</div>
        <div class="value" title="{{getDescription()}}" ng-class="{ \'only-value\': !label }">{{getDescription()}}</div>
    </div>
    <lui-switch ng-class="{ \'lui-switch--inverse\': definition.inverse }" x-model="value" x-disabled="readOnly" tid="{{key}}" />
</div>
