<div class="pp-component pp-string-component pp-expression-with-dropdown">
    <div class="label" ng-bind="label"></div>
    <div class="value">
        <div class="lui-input-group">
            <input
                type="text"
                maxlength="{{maxlength}}"
                spellcheck="{{!isExpression()}}"
                class="lui-input"
                ng-class="{
                \'lui-invalid\': invalid,
                \'lui-input-group__item\': isExpressionDefinition,
                \'lui-input-group__input\': isExpressionDefinition,
                \'is-expression\': isLocked()
            }"
                ng-model="displayValue"
                pp-placeholder="placeholder"
                ng-model-options="{ updateOn: \'blur\', allowInvalid: true }"
                qva-model-onkeyup
                pp-input-validator
                ng-readonly="isLocked()"
                ng-disabled="readOnly"
                ng-change="change()"
                pp-expression-editor="value"
                editor-disabled="!isLocked()"
                expression-type="{{expressionType}}"
                tid="{{key}}"
            />

            <button
                class="lui-input-group__item lui-input-group__button lui-button"
                ng-show="isExpressionDefinition && !readOnly"
                pp-expression-editor="value"
                expression-type="{{expressionType}}"
                q-title-translation="Tooltip.OpenExpressionEditor"
            >
                <span class="lui-button__icon lui-icon lui-icon--expression edit-expression" ng-class="{\'active\': isExpression()}"></span>
            </button>
            <button type="button" class="lui-button lui-input-group__item lui-input-group__button" ng-click="openPopover($event)">
                <span class="lui-icon lui-icon--triangle-bottom lui-icon--small" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
