<div class="pp-component pp-dropdown-component" ng-if="visible" tcl="dropdown">
    <div class="label" ng-if="label" title="{{title || label}}" ng-class="{ \'disabled\': readOnly }">
        {{label}}
    </div>

    <div class="value">
        <div ng-if="!loading">
            <lui-select
                x-model="value"
                x-change="change()"
                x-disabled="readOnly"
                x-options="option.value as option.label for option in options"
                tid="{{key}}"
            >
            </lui-select>
            <div style="display: none;" class="tids">
                <i ng-repeat="option in options">{{option.value}}</i>
            </div>
        </div>

        <div class="pp-loading-container" ng-if="loading">
            <div class="pp-loader qv-loader"></div>
        </div>
        <div ng-if="errorMessage" class="pp-invalid error">{{errorMessage}}</div>
    </div>
</div>
