<div class="vzb-templates-modal-image-container" [ngClass]="{\'vzb-templates-loading-container\': loading}">
    <div class="vzb-templates-modal-image-button-container" [ngClass]="{\'loading\': loading}">
        <div class="vzb-templates-image-remove-button-container" *ngIf="onlinePresetImage && !loading">
            <span class="vzb-lui-icon vzb-lui-icon--remove vzl-remove-button" (click)="removeImage()"></span>
        </div>
        <div class="vzb-templates-tooltip" [ngClass]="{\'loading\': loading}">
            <button *ngIf="!loading" type="button" title="Load image from computer" class="vzb-lui-overlay-button select-icon" (click)="triggerInput()">
                <span class="vzb-lui-overlay-button__icon vzb-lui-icon vzb-lui-icon--image">
                </span>
            </button>
        </div>
    </div>
    <div class="vzb-templates-modal-image">
        <img [hidden]="!onlinePresetImage || loading" [src]="onlinePresetImage">
    </div>
    <input class="vzb-templates-file-input" #vzlFileInput type="file" accept="image/x-png,image/jpeg"
        (change)="fileChangeEvent($event)">
    <vzb-spinner *ngIf="loading"></vzb-spinner>
</div>
<div class="vzb-templates-file-upload-buttons-wraper">
    <div class="vzb-templates-modal-title-header"><span>Thumbnail</span></div>
    <div class="vzb-lui-buttongroup vzb-templates-image-buttongroup-container ">
        <button *ngIf="!hideTakeSnapshot" type="button" [ngClass]="{\'disabled\': loading}" title="Take snapshot of current view"
            class="lui-button select-icon" id="snapshot-button" (click)="getSnapshotImage()">
            <i class="lui-overlay-button__icon lui-icon lui-icon--import"></i>
            <span class="lui-list__text">Take snapshot of current view</span>
        </button>
        <span *ngIf="!hideTakeSnapshot" class="vzb-templates-or-divider">or</span>
        <button type="button" [ngClass]="{\'disabled\': loading}" title="Upload new media" class="lui-button select-icon"
            (click)="triggerInput()">
            <i class="lui-overlay-button__icon lui-icon lui-icon--upload"></i>
            <span class="lui-list__text">Upload new media</span>
        </button>
    </div>
</div>
