<div class="pp-component pp-string-component pp-expression-with-dropdown">
    <div class="label" ng-bind="getLabel()"></div>
    <div class="value">
        <div class="lui-input-group">
            <input
                type="text"
                maxlength="255"
                spellcheck="true"
                class="lui-input lui-input-group__item lui-input-group__input"
                ng-class="{ \'lui-invalid\': !isValid() }"
                ng-model="displayValue"
                pp-placeholder="placeholder"
                ng-model-options="{ updateOn: \'blur\', allowInvalid: true }"
                qva-model-onkeyup=""
                pp-input-validator=""
                ng-disabled="isMasterItem()"
                ng-change="onInputChange(displayValue)"
                tid=""
                aria-invalid="false"
            />
            <button
                ng-if="!isMasterItem()"
                class="lui-button lui-input-group__item lui-input-group__button"
                pp-expression-editor="value"
                expression-type="StringExpression"
                pp-expression-editor-on-apply="onExpressionEditorApply({ value })"
            >
                <span class="lui-button__icon lui-icon lui-icon--expression edit-expression" ng-class="{\'active\': isExpression()}"></span>
            </button>
            <button ng-if="isMasterItem()" class="lui-button lui-input-group__item lui-input-group__button" ng-click="unlink()">
                <span class="lui-button__icon lui-icon lui-icon--link edit-expression" q-title-translation="Dimension.Unlink"></span>
            </button>
            <button
                type="button"
                class="lui-button lui-input-group__item lui-input-group__button"
                ng-class="{\'lui-active\': adding }"
                ng-click="openPopover($event)"
            >
                <span class="lui-icon lui-icon--triangle-bottom lui-icon--small" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
