<div class="pp-component pp-checkbox-component" ng-if="visible" tcl="checkbox">
    <div class="value">
        
            <label class="lui-checkbox">
                <input
                    class="lui-checkbox__input"
                    type="checkbox"
                    ng-model="value"
                    tid="value"
                    ng-change="change(value)"
                    ng-disabled="errorMessage"
                />
                <div class="lui-checkbox__check-wrap">
                    <span class="lui-checkbox__check"></span>
                    <span class="lui-checkbox__check-text label" ng-disabled="errorMessage" ng-if="label" title="{{title || label}}">{{label}}</span>
                </div>
            </label>
        </div>
        <div ng-if="errorMessage" class="pp-invalid error">{{errorMessage}}</div>
    </div>
</div>
