<div class="vzl-modal-kpi">
    <div class="vzl-modal-body">
        <div class="vzl-modal-header">
            <div>{{headerText}}</div>
        </div>
        <div class="vzl-modal-content">
            <ng-template #modalRenderer></ng-template>
        </div>
        <div class="vzl-modal-footer" *ngIf="footer" >
            <button autofocus class="lui-button vzl-modal-button" *ngIf="isSaveButton" (click)="save()">{{ saveButtonText || \'Save\'}}</button>
            <button class="lui-button vzl-modal-button" *ngIf="isCancelButton" (click)="cancel()">{{cancelButtonText || \'Cancel\'}}</button>   
        </div>
    </div>
</div>
<div class="vzl-modal-background"></div>