
                	<style type="text/css">
						.avzb_btn_vzba { 
							-webkit-border-radius: 60;
							-moz-border-radius: 60;
							border-radius: 1px;
							font-family: Arial;
							color: #ffffff; 
							font-size: 14;
							background: #EB5E15;
							padding: 10px 20px 10px 20px;
							text-decoration: none;
							border-radius: 60px;
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.19);
				         }
				         .avzb_btn_vzba:hover {
					         background: #eb4b15;
					         text-decoration: none;
				         }                    	
					
						.avzb_bar-main-container_avzb {
						  width: 100%;
						  height: 50px;
						  -webkit-border-radius: 4px;
						  -moz-border-radius: 4px;
						  border-radius: 4px;
						  font-family: sans-serif;
						  font-weight: normal;
						  font-size: 0.9em;
						  color: #FFF;
						}


						.avzb_bar-container_avzb {
						  float: left;
						  -webkit-border-radius: 10px;
						  -moz-border-radius: 10px;
						  border-radius: 10px;
						  height: 10px;
						  background: #FFF;
						  border: 1px solid rgba(0,0,0,0.1);
						  width: 90%;
						  margin: 5px 0px;
						  overflow: hidden;
						}

						.avzb_bar_avzb {
						  float: left;
						  background: #EB5E15;
						  height: 100%;
						  -webkit-border-radius: 10px 0px 0px 10px;
						  -moz-border-radius: 10px 0px 0px 10px;
						  border-radius: 10px 0px 0px 10px;
						  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						  filter: alpha(opacity=100);
						  -moz-opacity: 1;
						  -khtml-opacity: 1;
						  opacity: 1;
						}
						  
						.avzb_strap_bg_vzba {
							position: absolute;
							top: 0;
							bottom: 0;
							right: 3em;
							width: 12%;
							height: 100%;
							background-image: linear-gradient(#EB5E15, #EB5E15);
							transform: skewX(45deg);
							transform-origin: top left;
							box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
						}
						
						.avzb_strap_text_vzba {
							position: absolute;
							top: 1.3em;
							right: 0em;
							color: white;
							font-size: 14px;
						}
						
						.avzb_rotate_vzba {
							
							transform: rotate(-90deg);
							
							
							/* Legacy vendor prefixes that you probably don\'t need... */
							
							/* Safari */
							-webkit-transform: rotate(45deg);
							
							/* Firefox */
							-moz-transform: rotate(45deg);
							
							/* IE */
							-ms-transform: rotate(45deg);
							
							/* Opera */
							-o-transform: rotate(45deg);
							
							/* Internet Explorer */
							filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);
							
						}

						.avzb_ext_icon_vzba {
							position: absolute;
							top: 1.85em;
							right: 1.2em;
							width: 72px;
							height: 72px;
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							overflow:hidden;
							border-radius: 4px;
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
						}

						.avzb_subscription_icon_vzba{
							position: absolute;
							top:1em;
							right:0.3em;
						  }

						.avzb_subscription_without_icon_vzba{
							position: absolute;
							top:2.5em;
							right:1em;
						}

						.avzb_extension_name_vzba {
							position: absolute;
							top: 4em;
							left: 1.2em;
							width: 50%;
							text-align: center;
							color: white;
						}

						.avzb_version_tag_vzba {
							position: absolute;
							display: flex;
							top: 6.4em;
							left: 1em;
							line-height: 0;
							text-align: center;
							white-space: nowrap;
							-webkit-border-radius: 30;
							-moz-border-radius: 60;
							border-radius: 1px;
							font-family: Arial;
							color: #ffffff; 
							text-decoration: none;
							border-radius: 60px;
							box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 1px 1px 7px 1px rgba(0, 0, 0, 0.19);
						  }

						.avzb_version_vzba {
							padding: 8px 0px 8px 10px;
							text-align: left;
							font-size: 85%;
						}

						.avzb_white_dot_vzba {
							text-align: right;
							padding: 7.2px 8px 8px 10px;
							font-size: 125%;
						}

						.avzb_white_avzb   { background: #FFF; }
                	</style>
					
					<div ng-if="!isIndependentExtension()"
						<div style="width:100%; text-align:left; position: relative; overflow:hidden; height:92px;">
							<img src="{{banner_img}}" alt="{{extensionName}}" style="max-width:250px">
							<div ng-if="showImage()" class="avzb_ext_icon_vzba">
								<img src="{{icon_img}}" style="background:white;height:72px;width:72px;"/>
							</div>

							<div class="avzb_extension_name_vzba" style="display: none;">
							 	<img src="{{extensionNameImg}}" style="max-width: 80%; max-height:20px;" />
							</div>

							<div ng-if="user_mode==\'Freemium\'">
								<div class="avzb_strap_bg_vzba"></div>
								<div class="avzb_strap_text_vzba avzb_rotate_vzba">Free trial</div>
							</div>
						</div>

						<div class="avzb_subscription_icon_vzba" ">
							<img src="{{subscription_icon}}" style="max-width:24px; {{sub_icon_style}}" title="{{user_mode_label}}"/>
						</div>
					</div>

					<div ng-if="isIndependentExtension()">
						<div style="width:100%; text-align:left; position: relative; overflow:hidden; height:92px;">
							<img src="{{banner_img}}" alt="{{extensionName}}" style="max-width:250px">
						
							<div ng-if="user_mode==\'Freemium\'">
								<div class="avzb_strap_bg_vzba"></div>
								<div class="avzb_strap_text_vzba avzb_rotate_vzba">Free trial</div>
							</div>
						</div>

						<div class="avzb_subscription_without_icon_vzba" ">
							<img src="{{subscription_icon}}" style="max-width:24px; {{sub_icon_style}}" title="{{user_mode_label}}"/>
						</div>
					</div>


					<a href="{{changeloglink}}" target="_blank" title="Open extension changelog">
						<div class="avzb_version_tag_vzba" ng-style="{background: badge_color}">
							<div class="avzb_version_vzba">Version {{version}}</div>
							<div class="avzb_white_dot_vzba">●</div>
						</div>
					</a>

					<div style="margin: 25px 5px 15px; width:95%; text-align:center; font-size:0.9em; color: #002e6d">
						<p>Learn more about our other extensions <a href="https://home.vizlib.com" target="_blank" style="color: #5779EB;">here!</a></p>
					 </div>
					 
					 <div ng-if="user_mode==\'Freemium\'"  style="width:95%; margin-bottom:5px; text-align: center; font-size:0.9em; margin-right:10px; margin-left: 10px; color: #667dbc">
					 	<div class="avzb_bar-main-container_avzb avzb_white_avzb">
							<div style="color: #002e6d; font-family: \'QlikView Sans\', sans-serif; text-align:center ">License Usage ({{allocatedusers}} of {{totalusers}})</div>
					 		<div class="avzb_bar-container_avzb">
					  			<div class="avzb_bar_avzb" ng-style="{\'width\':usage+\'%\'}"></div>
							</div>
						</div>
				  		<div style="color: #002e6d;">
					 		Enjoy access to a highly customisable Visualisation Library and hands-on support.
				  		</div>
	  					<div style="margin-top: 20px; margin-bottom: 20px">
							<a class="avzb_btn_vzba" href="http://bit.ly/2ZmMuOE" target="_blank" style="color: #ffffff; margin-top: 40px">  
		  						<b>Add more users</b>
							</a>
	  					</div>
						</div>
					<div ng-if="user_mode==\'Onpremise\'"  style="width:95%;margin-bottom:5px; text-align: center; font-size:0.9em; margin-right:10px; color: #002e6d">
						<p ng-if="user_mode==\'Onpremise\'" style= "text-align: left; margin-left: 10px;font-style: italic;" > On-Premise license details: </p>					
					   <div style="text-align:left;margin-left:13px">
					      <p>• Licensed to: <b>{{onpremise_user}}</b></p>
					      <p>• Company:	<b>{{onpremise_company}}</b></p>
					      <p>• Expiry date: <b>{{onpremise_expire_date}}</b></p>
					   </div>
					</div>
					<br/>
					<div style="width:95%; text-align:center; font-size:0.9em; margin-left:10px;" title="Open Vizlib Community">
						 <svg style="vertical-align: middle;" width="12" height="12" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#5779EB" d="M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17 1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 68-28t68 28l152 152q28 28 28 68t-28 68z"/></svg>
					   <a href={{feedback}} target="_blank" style="text-decoration: none; color: #002e6d">
							 Feedback or ideas? Visit our Community.
					   </a>
					</div>   

					<br>
					<div style="width:95%; text-align: left; font-size:10px; margin-left:10px; color: #002e6d"><i>Contact <a href="mailto:{{email}}" style="color: #5779EB"> {{email}}</a> for further assistance.</i></div>
					<br/>

					<div style="width:95%; text-align: right; font-size:10px; margin-right:10px; color: #002e6d; position:relative;">
						<a href={{tc}} target="_blank" style="color: #5779EB; position:absolute; left:10px; top:45px;">Terms & Conditions</a>
						<a href={{doclink}} target="_blank" style="text-decoration: none;">
							<img src="{{documentationIcon}}" alt="Documentation" style="width:70px"/>
						</a>
					</div>
					<br/>
				